.comp_show-swipe {
  &.swipe {
    visibility: hidden;
    position: relative;
  }
  .swipe-wrap {
    position: relative;
  }
  .swipe-wrap > div {
   float: left;
    width: 100%;
    position: relative;
  }
}
