.select-model-drag-wrapper {
  position: relative;
  .drag-handle {
    position: absolute;
    top: 0;
    left:0;
    z-index: 1000;
    color:red;
    font-size: 40px;
    font-weight: bold;
  }

}

// .show-view.selected {
//   outline: 2px dashed #000;
//   z-index: 9999;
// }
