.select-model-drag-wrapper {
  z-index: 99999;
  position: relative;
  .drag-handle {
    position: absolute;
    color:red;
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    height: 30px;
  }
}

// .show-view.selected {
//   outline: 2px dashed #000;
//   z-index: 9999;
// }
